/* GOOGLE FONTS - IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@400&display=swap');

/* =================== */
/* GENERAL FORMATTING */
/* =================== */
html {
    scroll-behavior: smooth;
}

/* ================ */
/* NAVIGATION BAR */
/* ================ */
.navbar {
    transition: all 0.5s;
    padding: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: yellow;
}

.btn {
    color: yellow;
}

/* ================ */
/* HOME */
/* ================ */
#home {
    background-color: lightgrey;
    padding: 100px 15px 15px 15px;
}

/* ================ */
/* ABOUT */
/* ================ */
#about {
    background-color: white;
    padding: 15px;
}

/* ================ */
/* REGISTER */
/* ================ */
#register {
    background-color: lightgrey;
    padding: 15px;
}

/* ================ */
/* CONTACT US */
/* ================ */
#contact {
    background-color: white;
    padding: 15px;
}

/* ================ */
/* REGISTRATION FORM */
/* ================ */
#registration-form {
    background-color: white;
    padding: 50px 15px 15px 15px
}

/* ================ */
/* REGISTRATION SUBMITTED */
/* ================ */
#regsubmitted {
    background-color: white;
    padding: 100px 15px 15px 15px;
}

/* ================ */
/* Column container */
/* ================ */
.column-container {
    position: relative;
}

/* Bottom left text */
.left-column {
    position: relative;
    bottom: 65px;
}
  
/* Top left text */
.right-column {
    position: relative;
    bottom: 115px;
}
  
.image-upload>input {
    display: none;
  }
